<h1>Editing School Admin</h1>

<%= render 'form', school_admin: @school_admin %>

<%= link_to 'Show', school_school_admin_path(@school, @school_admin) %> |
<%= link_to 'Back', school_school_admins_path %>
